GOOGLE_CLIENT_ID: 'XXXX'
GOOGLE_CLIENT_SECRET: 'XXXX'
GOOGLE_CALENDAR_URL: 'https://www.googleapis.com/auth/calendar'
AWS_ACCESS_KEY: 'XXXX'
AWS_SECRET_ACCESS_KEY: 'XXX'
SECRET_TOKEN: 'XXXXXXXXXXXXXXXX'